@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  /* padding: 0; */
  margin: 30px;
  font-family: 'Open Sans', sans-serif;
  background: rgb(219, 219, 223);
}

ol {
  display: block;
  list-style-type: circle;
  margin-top: 1em;
  margin-bottom: 1px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
}

h1 {
  color:rgb(173, 6, 6);
  /* font-family: 'Open Sans', sans-serif; */
}

hr {
  margin-top:20px;
}

footer {
  color: rgb(152, 138, 138);
  font-size:70%;
}
