/*	Carlos N Reina
  cnreina@gmail.com
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  margin: 30px;
  font-family: 'Open Sans', sans-serif;
  background: rgb(219, 219, 223);
}

footer {
  color: rgb(152, 138, 138);
  font-size:70%;
}

hr {
  margin-top:20px;
}

.buttons {
  padding: 5px;
  margin: 5px;
}

/* ------------------------------------------------------------------------- */

#main-title {
  color:rgb(173, 6, 6);
}

#name_input {
  padding: 3px;
  margin: 3px;
}

#story_editor{
  width: 98%;
  height: 250px;
  background-color: lightyellow;
  padding: 5px;
  margin: 5px;
}

#story_display{
  width: 98%;
  height: 100px;
  background-color: rgb(228, 228, 224);
  padding: 5px;
  margin: 5px;
}

#home_link {
  color: rgb(43, 82, 221);
  font-size:80%;
}
