/*	Carlos N Reina
  cnreina@gmail.com
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  margin: 30px;
  font-family: 'Open Sans', sans-serif;
  background: rgb(219, 219, 223);
}

footer {
  color: rgb(152, 138, 138);
  font-size:70%;
}

hr {
  margin-top:20px;
}

#main-title {
  color:rgb(173, 6, 6);
}

#main-subtitle {
  color:rgb(13, 18, 157);
}

#textarea1{
  width: 98%;
  height: 60px;
  background-color: rgb(184, 184, 181);
  padding: 5px;
  margin: 5px;
}

#text-input1, #text-input2 {
  padding: 3px;
  margin: 4px;
  border-radius: 4px;
  font-size: 14px;
  width: 70%;
}

.buttons {
  border-radius: 5px;
  margin: 0.2em 0;
  font-size: 14px;
}

#text-button {
  color: #ffffff;
  background-color: #576d7c;
  border-color: #02000c;
  min-width: 20%;
}

#result-div{
  color: #fff;
  background-color: black;
  padding: 3px;
  margin: 4px;
  border-radius: 4px;
  font-size: 14px;
  text-align: left;
}
