/*	Carlos N Reina
  cnreina@gmail.com
*/

/* ************************************************************************* */


* {
  box-sizing: border-box;
}

html, body {
  position: absolute;
  width: 100vw;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgb(242, 245, 248);
}

/*	HEADER */
.cnrheadersections {
  width: 100%;
  height: auto;
  padding: 6px;
  margin: 0px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: flex-end;
}
.cnrheaderdivs {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.cnrsubheaderdivs {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.cnrmaintitles {
  color:rgb(171, 9, 9);
  margin: 0px;
  padding: 0px;
}
.cnrmainsubtitles {
  color:rgb(13, 18, 157);
  margin: 0px;
  padding: 0px;
}
.cnrhomelinks {
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-size: 100%;
  width: 100%;
}
.cnrcopyright {
  padding: 0px;
  margin: 0px;
  color: rgb(152, 138, 138);
  font-size:70%;
  width: 100%;
}
hr {
  padding: 0px;
  margin: 10px;
}

/*	MAIN */
.cnrmainsections {
  width: 100vw;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
.cnrmaindivs {
  width: 360px;
  height: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
  background-color: rgb(231, 237, 237);
}

/*	JS CONTAINER */
.cnrjscontainerdivs {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
}
.cnrjsscrollable {
  max-height: 80%;
  overflow-x: hidden;
  overflow-y: auto;
}
.cnrmainheaderdivs {
  width: 100%;
  height: 40px;
  padding: 2px;
  margin-bottom:20px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  font-size: 1.8em;
  text-align: center;
  text-shadow: 1px 1px rgb(246, 244, 244);
  background-color:black;
  color:white;
  border: 1px solid rgba(225, 222, 222, 0.8);
  border-radius: 4px;
  opacity: 0.8;
  box-shadow: 6px 5px 5px #70788f;
  position: sticky;
  top: 1px;
  animation: glow 2s ease-in-out infinite alternate;
}

/*	JS CONTENT */
.cnrjscontentdivs {
  width: 100%;
  height: auto;
  padding: 4px;
  margin: 0px;
}

/*	CARDS */
.cnrcardheaderdivs {
  width: 100%;
  height: 28px;
  padding: 2px;
  margin: 0px;
  background-color:black;
  color:white;
  border: 1px solid rgba(225, 222, 222, 0.8);
  border-radius: 4px;
  opacity: 0.8;
  box-shadow: 5px 4px 4px #70788f;
  position: sticky;
  top: 42px;
}
.cnrcardheadertitles {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 1.2em;
}
.cnrcardcontentdivs {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
.cnrcardcelldivs {
  padding: 0px;
  margin: 12px;
}
.cnrcardimagedivs {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.cnrcardimages {
  width: 100%;
  height: auto;
}
.cnrcardinfodivs {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.cnrcardbasicinfodivs {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.cnrcardbasicinfodivs p {
  padding: 1px;
  margin: 0px;
  text-align: left;
  font-size: 0.8em;
}
.cnrcardfullinfodivs {
  display: none;
}

/*	ANIMATIONS */
@keyframes glow {
  from {
    text-shadow: 0 0 10px #cce6ff, 0 0 20px #cce6ff, 0 0 30px #99ccff, 
    0 0 40px #99ccff, 0 0 50px #99ccff, 0 0 60px #99ccff, 0 0 70px #99ccff;
  }
  to {
    text-shadow: 0 0 20px #004d99, 0 0 30px #004d99, 0 0 40px #3399ff, 
    0 0 50px #3399ff, 0 0 60px #3399ff, 0 0 70px #3399ff, 0 0 80px #3399ff;
  }
}
