/*
	Carlos N Reina 2021
 */


/*************** RESPONSIVE LAYOUT - (LARGE) ***************/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}


/* *************** MAIN_HEADER *************** */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0px;
    text-shadow: 1px 1px black;
    font-size: 5vw;
    margin: 0;
    padding: 8px 0px 8px 0px;
    background: black;
    color: white;
    opacity: 0.8;
}

.cnrMainHeaderContentClass h2 {
    margin: 0;
    padding: 10px 0px 0px 5px;
}

.cnrMainHeaderContentClass p {
    display: none;
}

#cnrMainHeaderImageID img {
    width: 15vw;
    height: auto;
    margin: 0;
    padding: 10px 5px 0px 0px;
    color: lightgray;
}


/* *************** MAIN_CONTENT *************** */

#cnrMainContainerID {
    background-color: whitesmoke;
    padding: 5px;
}

#cnrDirectoryTableID {
    table-layout: auto;
    min-width: 100%;
    text-align: left;
}

#cnrDirectoryTableID td {
    border-bottom: 1px solid lightgrey;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin: 5px;
    padding: 14px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: gray;
}

.buttons input {
    border: 0;
    /* to allow min-width in webkit */
    margin: 30px;
    padding: 10px;
    font-size: 5vw;
    color: black;
    min-width: 100px;
    min-height: 60px;
    box-shadow: 5px 5px 10px black;
}

.buttons input:active {
    box-shadow: 2px 2px 2px black;
    color: gray;
}


/* ****************** FOOTER ****************** */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5vw;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 0;
    font-size: 2.5vw;
    margin: 0;
    padding: 0;
    opacity: 0.4;
}