/*
	Carlos N Reina
*/

/*************** DEFAULT LAYOUT (SMALL) ***************/

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(173, 168, 168);
}

/* *************** MAIN_HEADER *************** */
header {
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;
	text-align: center;
	position: sticky;
	top: 0px;
	text-shadow: 1px 1px black;
	font-size: 1vw;
	margin: 0;
	padding: 8px 0px 8px 0px;
	background: black;
	color: white;
	opacity: 0.8;
}
.cnrmain_header_content h2 {
	margin: 0;
	padding: 10px 0px 0px 5px;
}
.cnrmain_header_content p {
	display: none;
}
#cnrmain_header_img img {
	width: 3vw;
	height: auto;
	margin: 0;
	padding: 10px 5px 0px 0px;
	color: lightgray;
}

/* *************** MAIN_CONTENT *************** */
.cnrmain_content_containers {
	background-color: gray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	background-color: rgb(173, 168, 168);
	margin: 0;
	margin-bottom: 5vw;
	padding: 1vw;
}


/* ************* form_containers ************* */
.cnrform_containers {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	margin: 5px;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: rgb(179, 143, 0);
	text-align: center;
	color: white;
}

.cnrform_input_containers {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
	margin: 0;
	padding: 8px;
	font-size: 2vw;
	font-weight: normal;
	text-align: left;
	min-width: 100%;
	background-color: rgb(22, 21, 21);
	border-radius: 3px;
	color: white;
}
.cnrform_input_containers h3 {
	margin-bottom: 0px;
	padding: 0px;
}
.cnrform_input_containers input {
	min-width: 100%;
	font-size: 1.5vw;
	font-weight: normal;
}

#cnrperformance_type_location_container {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
}
#cnrperformance_room_time_container {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
}

#cnrstudent1_first_last_container {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
}

#cnrstudent1_skill_instrument_container {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
}

#cnrstudent2_first_last_container {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
}

#cnrstudent2_skill_instrument_container {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
}

#cnrstudent2_container {
	display: none;
}

/* ************* buttons_containers ************* */
.cnrform_buttons_containers {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	margin-top: 10px;
	padding: 5px;
	min-width: 100%;
	background-color: rgba(179, 143, 0, 0.658);
	border-radius: 3px;
}
.cnrform_buttons_containers input {
	border: 0; /* to allow min-width in webkit */
	margin: 20px 0px 10px 0px;
	padding: 2px;
	font-size: 2vw;
	color: black;
	min-width: fit-content;
	width: 160px;
	min-height: 30px;
	box-shadow: 3px 3px 6px black;
	border-radius: 3px;
}
.cnrform_buttons_containers input:active {
	box-shadow: 2px 2px 2px black;
	color: gray;
}

/* ************* table_containers ************* */
.cnrtable_students_containers {
	margin: 5px;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: rgb(179, 143, 0);
	width: auto;
}

/* ********* students table ********* */
.cnrtable_students {
	margin: 0px;
	padding: 5px;
	border-radius: 3px;
	background-color: rgb(22, 21, 21);
	max-width: 100%;
}
.cnrtable_students caption {
	margin: 5px;
	padding: 5px;
	color: rgb(245, 240, 240);
	font-size: 4vw;
	text-align: center;
}
.cnrtable_students caption img {
	margin: 0px;
	padding: 0px;
	min-width: 20px;
	max-width: 60px;
	height: auto;
}
.cnrtable_students_header_rows th {
	border-bottom: 1px solid lightgray;
	width: 33%;
	height: 40px;
	font-size: 2vw;
	font-weight: normal;
	color: white;
	text-align: left;
	padding-left: 5px;
}
.cnrtable_students_rows {
	border-bottom: 1px solid lightgray;
	margin: 0px;
	padding: 10px 5px 10px 5px;
	text-align: left;
	color: white;
	font-size: 1.5vw;
	vertical-align: top;
}

/* ****************** FOOTER ****************** */
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4vw;
	text-align: center;
	line-height: 0;
	font-size: 2vw;
	margin: 0;
	padding: 0;
	background: black;
	color: white;
	opacity: 0.8;
}

