/*	Carlos N Reina
  cnreina@gmail.com
*/

/* ************************************************************************* */


* {
  box-sizing: border-box;
}

body {
  margin: 30px;
  background: rgb(219, 219, 223);
}

.cnrmaintitles {
  color:rgb(171, 9, 9);
  margin: 0px;
}

.cnrmainsubtitles {
  color:rgb(13, 18, 157);
  margin: 0px;
}

hr {
  margin-top:20px;
}

.cnrmainsections {
  width: 100%;
  height: auto;
  /* background-color: rgb(122, 122, 242); */
  padding: 8px;
  margin: 0px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.cnrmaindivs {
  width: 360px;
  height: 600px;
  /* background-color: rgb(234, 234, 96); */
  padding: 0px;
  margin: 0px;
  border: 1px solid rgba(18, 18, 18, 0.8);
  position: relative;
}

.cnrmainheaderdivs {
  width: 100%;
  height: 60px;
  padding: 8px;
  margin-bottom: 10px;
  /* border: 1px solid rgba(77, 75, 75, 0.8); */
  /* background-color: rgb(116, 172, 114); */
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.cnrmainheaderdivs p {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 2.8em;
}

.cnrjscontainerdivs {
  padding: 10px;
  margin: 0px;
  background-color: rgb(221, 87, 231);
}

.cnrcarddivs {
  width: 100%;
  height: auto;
  padding: 0px;
  margin-bottom: 8px;
  /* border: 1px solid rgba(77, 75, 75, 0.8); */
  background-color: rgb(231, 87, 108);
}

.cnrcardheaderdivs {
  width: 100%;
  height: 32px;
  padding: 0px;
  margin: 0px;
  border: 1px solid rgba(146, 144, 144, 0.8);
  background-color: rgb(240, 135, 150);
}

.cnrcardheadertitles {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 1.7em;
  color:rgb(43, 39, 39);
}

.cnrgridcontainerdivs {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  background-color: rgb(135, 240, 229);
}

.cnrgridcelldivs {
  padding: 0px;
  margin: 8px;
}

.cnrcarddatadivs {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.cnrmenudivs{
  padding: 1px;
  margin: 0px;
  background-color: rgb(153, 178, 214);
  width: 100%;
  display: grid;
  grid-template-columns: 35% 15% 20% 30%;
  height: 50px;
  font-size: larger;
}
.cnrmenutaskcountdivs{
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  text-align: center;
  margin: 1px;
}
.cnrmenualltasksdivs{
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  text-align: center;
  margin: 1px;
}
.cnrmenuactivetasksdivs{
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  text-align: center;
  margin: 1px;
}
.cnrmenucompletedtasksdivs{
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  text-align: center;
  margin: 1px;
}
.cnrmenuselected{
  border: 2px solid rgba(126, 4, 4, 0.8);
}

.cnradditemdivs {
  padding: 0px;
  margin: 0px;
  /* background-color: rgb(153, 178, 214); */
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 80% 20%;
  justify-content: center;
}
.cnradditeminputs{
  width: 100%;
  height: 50px;
  font-size: larger;
  padding: 4px;
}
.cnradditembuttons{
  width: 90%;
  height: 50px;
  font-size: xx-large;
  padding: 0px;
  margin: 0px;
  justify-self: right;
}

.cnrhomelinks {
  padding-top: 10px;
  margin: 0px;
  text-align: left;
  font-size: 0.8em;
  position: absolute;
  bottom: 20px;
  width: auto;
}

footer {
  color: rgb(152, 138, 138);
  font-size:70%;
  position: absolute;
  bottom: 0px;
  width: auto;
  /* height: 2.5rem; */
}
