/*	Carlos N Reina
  cnreina@gmail.com
*/

/* ************************************************************************* */


* {
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
  margin: 30px;
  background: rgb(219, 219, 223);
}

.cnrmaintitles {
  color:rgb(171, 9, 9);
  margin: 0px;
}

.cnrmainsubtitles {
  color:rgb(13, 18, 157);
  margin: 0px;
}

hr {
  margin-top:20px;
}

.cnrmainsections {
  width: 100%;
  height: auto;
  /* background-color: rgb(122, 122, 242); */
  padding: 8px;
  margin: 0px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.cnrmaindivs {
  width: 360px;
  height: 600px;
  /* background-color: rgb(234, 234, 96); */
  padding: 0px;
  margin: 0px;
  /* border: 1px solid rgba(18, 18, 18, 0.8); */
  position: relative;
}

.cnrmainheaderdivs {
  width: 100%;
  height: 60px;
  padding: 8px;
  margin-bottom: 10px;
  /* border: 1px solid rgba(77, 75, 75, 0.8); */
  /* background-color: rgb(116, 172, 114); */
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.cnrmainheaderdivs p {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 2.8em;
}

/*	JS CONTAINER */
.cnrjscontainerdivs {
  padding: 0px;
  margin: 0px;
  width: 100%;
  /* height: auto; */
  min-height: 42px;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
}
.scrollable {
  max-height: 70%;
  overflow-x: hidden;
  overflow-y: auto;
}

/*	JS CONTENT */
.cnrjscontentdivs {
  width: 100%;
  height: auto;
  padding: 4px;
  margin: 0px;
  border-left: 1px solid rgba(99, 96, 96, 0.8);
  border-top: 1px solid rgba(99, 96, 96, 0.8);
  border-right: 1px solid rgba(99, 96, 96, 0.8);
  /* background-color: rgb(223, 223, 38); */
  display: grid;
  grid-template-columns: 10% 80% 10%;
  justify-content: space-evenly;
  align-content: center;
  cursor: pointer;
}
.cnrjsstatusdivs{
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  text-align: center;
  padding: 0px;
  margin: 1px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 0px;
}
.cnrjsstatusdivscompleted{
  border: 3px double rgba(0, 0, 0, 0.8);
  font-size: x-large;
}
.cnrjstaskdivs{
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  text-align: left;
  padding: 4px;
  margin: 1px;
  /* border: 1px solid rgba(208, 205, 205, 0.8); */
  font-size: large;
}
.cnrjstaskdivscompleted{
  -webkit-text-decoration: line-through;
  text-decoration: line-through;
  text-decoration-color: darkred;
}
.cnrjsdeleteitemdivs{
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  text-align: center;
  padding: 0px;
  margin: 1px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: x-large;
}

/*	MENU */
.cnrmenudivs{
  padding: 2px;
  margin: 0px;
  background-color: rgb(172, 199, 236);
  color: rgb(80, 85, 93);
  border-left: 1px solid rgba(99, 96, 96, 0.8);
  border-top: 1px solid rgba(99, 96, 96, 0.8);
  border-right: 1px solid rgba(99, 96, 96, 0.8);
  border-bottom: 1px solid rgba(99, 96, 96, 0.8);
  width: 100%;
  display: grid;
  grid-template-columns: 35% 15% 20% 30%;
  height: 50px;
  font-size: medium;
}
.cnrmenutaskcountdivs{
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  text-align: center;
  margin: 1px;
  padding: 2px;
  cursor: default;
  color: rgb(20, 21, 22);
  text-shadow: 1px 1px 1px rgb(189, 186, 186);
  font-size: larger;
}
.cnrmenualltasksdivs{
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  text-align: center;
  margin: 1px;
  padding: 2px;
  cursor: pointer;
  border-radius: 4px;
}
.cnrmenuactivetasksdivs{
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  text-align: center;
  margin: 1px;
  padding: 2px;
  cursor: pointer;
  border-radius: 4px;
}
.cnrmenucompletedtasksdivs{
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  text-align: center;
  margin: 1px;
  padding: 2px;
  cursor: pointer;
  border-radius: 4px;
}
.cnrmenuselected{
  -webkit-transition: 0.5s;
  -webkit-transition-timing-function: ease;
  transition: 0.5s;
  transition-timing-function: ease;
  border: 4px solid rgba(1, 56, 88, 0.8);
  text-shadow: 1px 1px 1px rgb(215, 212, 212);
  box-shadow: 0px 0px 8px 1px #a0dcf1;
  color: rgb(20, 21, 22);
  font-size: larger;
}

/*	ADD ITEM */
.cnradditemdivs {
  padding: 0px;
  margin: 0px;
  /* background-color: rgb(153, 178, 214); */
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 78% 20%;
  justify-content: space-between;
}
.cnradditeminputs{
  width: 100%;
  height: 40px;
  font-size: larger;
  padding: 4px;
  background-color: rgb(202, 220, 245);
  border-width: 1px;
  border-radius: 4px;
}
.cnradditeminputs:focus{
  outline: none;
}
.cnradditeminputs::placeholder{
  color: rgba(59, 99, 139, 0.265);
}
.cnradditembuttons{
  width: 90%;
  height: 40px;
  font-size: xx-large;
  padding: 0px;
  margin: 0px;
  /* justify-self: right; */
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  background-color: rgb(195, 213, 239);
  border-radius: 4px;
}
.cnradditembuttons:hover{
  background-color: rgb(133, 175, 234);
}

.cnrhomelinks {
  padding-top: 10px;
  margin: 0px;
  text-align: left;
  font-size: 0.8em;
  position: absolute;
  bottom: 30px;
  width: auto;
}

footer {
  color: rgb(152, 138, 138);
  font-size:70%;
  position: absolute;
  bottom: 10px;
  width: auto;
}
