/*	Carlos N Reina
  cnreina@gmail.com
*/

/* ************************************************************************* */


* {
  box-sizing: border-box;
}

html, body {
  position: absolute;
  width: 100vw;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgb(242, 245, 248);
}

/*	HEADER */
.cnrheadersections {
  width: 100%;
  height: auto;
  padding: 6px;
  margin: 0px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: flex-end;
}
.cnrheaderdivs {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.cnrsubheaderdivs {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.cnrmaintitles {
  color:rgb(171, 9, 9);
  margin: 0px;
  padding: 0px;
}
.cnrmainsubtitles {
  color:rgb(13, 18, 157);
  margin: 0px;
  padding: 0px;
}
.cnrhomelinks {
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-size: 100%;
  width: 100%;
}
.copyright {
  padding: 0px;
  margin: 0px;
  color: rgb(152, 138, 138);
  font-size:70%;
  width: 100%;
}
hr {
  padding: 0px;
  margin: 0px;
}

/*	MAIN */
.cnrmainsections {
  width: 100vw;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  background-color: rgb(182, 191, 210);
}
.cnrmaindivs {
  width: 360px;
  height: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.cnrmainheaderdivs {
  width: 100%;
  height: 60px;
  padding: 8px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  font-size: xx-large;
  text-align: center;
}

/* .cnrinfodivs {
  width: 100%;
  height: 60px;
  padding: 8px;
  margin-bottom: 14px;
  border: 1px solid rgba(77, 75, 75, 0.8);
  background-color: rgb(141, 141, 138);
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
.cnrinfodivs p {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 2.2em;
} */

/*	JS CONTAINER */
.cnrjscontainerdivs {
  padding: 0px;
  margin: 0px;
  width: 100%;
  /* height: auto; */
  min-height: 42px;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
}
.scrollable {
  max-height: 70%;
  overflow-x: hidden;
  overflow-y: auto;
}

/*	JS CONTENT */
.cnrjscontentdivs {
  width: 100%;
  height: auto;
  padding: 4px;
  margin: 0px;
  border-left: 1px solid rgba(99, 96, 96, 0.8);
  border-top: 1px solid rgba(99, 96, 96, 0.8);
  border-right: 1px solid rgba(99, 96, 96, 0.8);
}
.cnrjsstatusdivs{
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  text-align: center;
  padding: 0px;
  margin: 1px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 0px;
}


/*	HIKES */

.infodivs {
  width: 100%;
  height: 60px;
  padding: 8px;
  margin-bottom: 14px;
  border: 1px solid rgba(77, 75, 75, 0.8);
  background-color: rgb(141, 141, 138);
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
.infodivs p {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 2.2em;
}

.carddivs {
  width: 100%;
  height: auto;
  padding: 0px;
  margin-bottom: 8px;
}
.headerdivs {
  width: 100%;
  height: 32px;
  padding: 0px;
  margin: 0px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: rgb(220, 220, 216);
}
.headertitles {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 1.6em;
  color:rgb(43, 39, 39);
}

.gridcontainerdivs {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
.gridcelldivs {
  padding: 0px;
  margin: 12px;
}

.imagedivs {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.images {
  width: 100%;
  height: auto;
}

.hikeinfodivs {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.hikebasicinfodivs {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.hikebasicinfodivs p {
  padding: 1px;
  margin: 0px;
  text-align: left;
  font-size: 0.8em;
}
.hikefullinfodivs {
  display: none;
}
